<div class="row" style="margin-top: 20px">
    <div class="col">
    </div>
    <div class="col">
        <div class="card border">
          <form (ngSubmit) = "onsubmit()" [formGroup]="formLogin">
            <h3 class="card-header text-primary">Đăng nhập tài khoản</h3>
            <div class="card-body">
              <div class="mb-3">
                <input formControlName="email" type="email" class="form-control" placeholder="Email đăng nhập">
              </div>
              <div class="mb-3">
                <input formControlName="password" type="password" class="form-control" placeholder="Mật khẩu đăng nhập">
              </div>
              <button [disabled] = "formLogin.invalid" class="btn btn-primary" style="width: 100%;">Đăng nhập</button>
            </div>
          </form>
        </div>
    </div>
    <div class="col">
    </div>
</div>
